<h1>メッセージ一覧</h1>

<%= @msg %>

<p>データ入力</p>
<table>
  <%= form_for(@content, url:{controller:'contents', action:'add'}) do |form| %>
  <tr><th>topic_id</th>
    <td><%= form.text_field :topic_id,{size:40} %></td></tr>
  </tr>
  <tr><th>メッセージ</th>
    <td><%= form.text_field :message,{size:40} %></td></tr>
  </tr>
  <tr><th></th>
    <td><%= form.submit "保存" %></td></tr>
  </tr>
  <% end %>
</table>
<p class="link"><a href="/contents">&lt;&lt; 戻る</a></p>
