
<p>データ編集</p>
<table>
  <%= form_for(@content, url:{controller:'contents', action:'edit',id:@content.id}) do |form| %>
  <tr><th>Topic_ID</th>
    <td><%= form.text_field :topic_id,{size:40} %></td></tr>
  </tr>
  <tr><th>メッセージ</th>
    <td><%= form.text_field :message,{size:40} %></td></tr>
  </tr>
  <tr><th></th>
    <td><%= form.submit "更新" %></td></tr>
  </tr>
  <% end %>
</table>
<p class="link"><a href="/contents">&lt;&lt; 戻る</a></p>
