
<%= @msg %>

<table width="100%">
  <tr>
    <th>Topic_Id</th><th>メッセージ</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
     <td width="10px"><%= obj.topic_id %></td>
     <td width="50%"><%= obj.message %></td>
     <td width="20px"><a href="/contents/edit/<%= obj.id %>">編集</a></td>
     <td width="20px"><a href="javasctipt:window.delDate(
       <%= (obj.topic_id.to_s + ",'".to_s + obj.message.to_s).html_safe %>');">削除</a></td>

  </tr>
  <% end %>
</table>
<p class="link"><a href="/contents/add">データ入力 &gt;&gt;</a></p>
