
<p><% @text %></p>
<p>データ入力</p>

<h1><%= @msg %></h1>
<table>
  <%= form_for(@topic, url:{controller:'topics', action:'add'}) do |form| %>
  <tr><th>タイトル</th>
    <td><%= form.text_field :title,{size:40} %></td></tr>
  </tr>
  <tr><th></th>
    <td><%= form.submit "保存" %></td></tr>
  </tr>
  <% end %>
</table>
<p class="link"><a href="/topics">&lt;&lt; 戻る</a></p>
