<%= @msg %>
<p>データ編集</p>
<table>
  <%= form_for(@topic, url:{controller:'topics', action:'edit',id:@topic.id}) do |form| %>
  <tr><th>タイトル</th>
    <td><%= form.text_field :title,{size:40} %></td></tr>
  </tr>
  <tr><th></th>
    <td><%= form.submit "更新" %></td></tr>
  </tr>
  <% end %>
</table>
<p class="link"><a href="/topics">&lt;&lt; 戻る</a></p>
