<table>

<%= form_tag(controller: "topics", action: "find") do %>
　<tr><th>検索</th>
  <td><%= text_field_tag("find") %></td></tr>
</tr>
  <tr><th></th>
    <td><%= submit_tag("Click") %></td></tr>
  </tr>
  <% end %>
</table>

<hr>

<h2><%= @msg %></h2>
<table>
  <tr>
    <th>ID</th><th>タイトル</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.id %></td>
    <td><%= topic.title %></td>
  </tr>
  <% end %>
</table>
