

<%= @page_num %>
<table width="100%">
  <tr>
    <th>Id</th><th>タイトル</th><th></th><th></th>
  </tr>
  <% @topics.each do |obj| %>
  <tr>
     <td width="35px"><%= obj.id %></td>
     <td width="50%"><a href= "/topics/<%= obj.id %>"><%= obj.title %></a></td>
     <td width="40px"><a href="/topics/<%= obj.id %>/edit" class="square_btn">編集</a></td>
     <td width="40px"><a href="javascript:delDate(
       <%= obj.id %>);" class="square_btn2">削除</a></td>

  </tr>
  <% end %>
</table>




<nav>
<ul class="pagination">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <% if @page > 0 then%>
  <li class="active"><a href="/topics/index?page=<%= (@page -1) %>"><%= @page %></a></li><% end %><li><a href="#"><%= (@page + 1) %></a></li><% if @topics_count.count>(@page + 1) * @page_size then%>
  <li><a href="/topics/index?page=<%= (@page + 1) %>"><%= (@page + 2) %></a></li><% end %><li><a href="#">&raquo;</a></li>
</ul>
</nav>



<h2></h2>
<h2><a href="/topics/create" class="square_btn3">データ入力 </a></h2>

<hr>
<h2><a href="/topics/find" class="square_btn3">データ検索 </a></h2>
