<%= @msg %>


<table width="100%">
  <tr>
    <th>Id</th><th>タイトル</th><th>内容</th><th>作成日</th>
  </tr>
<% @contents.each do |content| %>
<tr>
     <td width="35px"><%= @topic.id %></td>
     <td width="30%"><%= @topic.title %></td>
     <td width="30%"><%= content.message %></td>
     <td width="40%"><%= content.created_at %></td>

  </tr>
<% end %>
</table>

<%= @msg %>


<table>

<%= form_for(@content, url:{controller:'contents', action:'create'}) do |form| %>
　<tr><th>ID</th>
  <td><%= form.text_field :topic_id,{size:40} %></td></tr>
</tr>
  <tr><th>内容</th>
    <td><%= form.text_field :message,{size:40} %></td></tr>
  </tr>
  <tr><th></th>
    <td><%= form.submit "保存" %></td></tr>
  </tr>
  <% end %>
</table>

<p class="link"><a href="/topics/index">スレッド一覧へ </a></p>
