// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body{
   font-size:14pt;
   color: #999;
   background: white;
   margin: 10px 20px;
}
body div.topic{
   background: white;
   margin: 20px 0px;
   padding: 20px;
   border: 1px solid gray;
   box-shadow: 5px 5px darkgray;
}

h1{
background: #dfefff;
box-shadow: 0px 0px 0px 5px #dfefff;
border: dashed 2px white;
padding: 0.2em 0.5em;
text-align: center;
}
table tr th{
  background-color: #909090;
  color: #f6f6f6;
  font-size: 12pt;
  padding: 10px;
  font-weight: bold;
}

table tr td{
  background-color: #BAD3FF;
  color: #606060;
  font-size: 12pt;
  padding: 5px 5px;
  text-align: center;
}
.square_btn{
display: inline-block;
padding: 0.5em 1em;
text-decoration: none;
background: #668ad8;/*ボタン色*/ color: #FFF;
border-bottom: solid 4px #627295;
border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/ -ms-transform: translateY(4px);
-webkit-transform: translateY(4px);
transform: translateY(4px);/*下に動く*/ border-bottom: none;/*線を消す*/ }

.square_btn2{
display: inline-block;
padding: 0.5em 1em;
text-decoration: none;
background: #668ad8;
color: #FFF;
border-radius: 4px;
box-shadow: 0px 0px 0px 5px #668ad8;
border: dashed 1px #FFF;
text-align: center;
}.square_btn2:hover{
border: dotted 1px #FFF;
}


.square_btn3{
display: inline-block;
position: relative;
padding: 0.35em 1em;
background: #668ad8;/*ボタン色*/ color: #FFF;
text-decoration: none;
text-align: center;
}.square_btn3:before{
content: "";
position: absolute;
top: -16px;
left: 0;
width: -webkit-calc(100% - 16px);
width: calc(100% - 16px);
height: 0;
border: solid 8px transparent;
border-bottom-color: #8eacec;/*ボタン色より明るめの色に*/ }.square_btn:active{/*押したとき*/ padding: 0.32em 0.9em;
-ms-transform: translateY(-2px);
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}.square_btn3:active:before{
width: -webkit-calc(100% - 12px);
width: calc(100% - 12px);
}.square_btn3:active:before{
top:-12px;
border-width: 6px;
}

p.link{
  margin: 10px 0px 20px 0px;
}
