<!DOCTYPE html>
<html>
  <head>
    <title>スレッド一覧</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
        <!--'data-turbolinks-track': 'reload' %>-->
    <%= javascript_include_tag 'application'%>
          <!--'data-turbolinks-track': 'reload' %>-->
  </head>

  <body>
    <h1 class="title">スレッド一覧</h1>
    <%= yield %>
  </body>
</html>
